<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      .bi {
        vertical-align: -0.125em;
        fill: currentColor;
      }
    </style>
  </head>
  <body>
    <header class="p-3 mb-3 border-bottom">
      <nav-app brandName="<%= brandName %>"></nav-app>
    </header>

    <main>
      <div class="main-content">
        <div class="container py-5">
          <h1 class="mb-3 text-center">Add Story</h1>

          <form
            class="row d-flex justify-content-center g-3"
            id="addStoryForm"
            novalidate
          >
            <div class="col-md-6">
              <div class="col mb-4">
                <label for="validationDescription" class="form-label"
                  >Description</label
                >
                <textarea-with-validation
                  inputId="validationDescription"
                  invalidFeedbackMessage="Wajib diisi"
                  required
                ></textarea-with-validation>
              </div>
              <div class="col mb-4">
                <label for="validationPhoto" class="form-label"
                  >Photo</label
                >
                <input-image-with-preview
                  inputId="validationPhoto"
                  invalidFeedbackMessage="Wajib diisi"
                  required
                ></input-image-with-preview>
              </div>
              <div class="col text-end">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>

    <footer>
      <footer-app></footer-app>
    </footer>
  </body>
</html>
